<!DOCTYPE html>
<html>
  <head>
    <title>MovieFLick</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Lato", sans-serif;
      }
      body,
      html {
        height: 100%;
        color: #777;
        line-height: 1.8;
      }

      /* Create a Parallax Effect */
      .bgimg-1,
      .bgimg-2,
      .bgimg-3 {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      /* First image (Logo. Full height) */
      .bgimg-1 {
        background-image: url("/images/video.mp4");
        min-height: 100%;
      }

      /* Second image (Portfolio) */
      .bgimg-2 {
        background-image: url("/images/video.mp4'");
        min-height: 400px;
      }

      .bgimg-3 {
        background-image: url("/images/video.mp4'");
        min-height: 400px;
      }

      .w3-wide {
        letter-spacing: 10px;
      }
      .w3-hover-opacity {
        cursor: pointer;
      }

      /* Turn off parallax scrolling for tablets and phones */
      @media only screen and (max-device-width: 1600px) {
        .bgimg-1,
        .bgimg-2,
        .bgimg-3 {
          background-attachment: scroll;
          min-height: 400px;
        }
      }
    </style>
  </head>
  <body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar" id="myNavbar">
        <a
          class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right"
          href="javascript:void(0);"
          onclick="toggleFunction()"
          title="Toggle Navigation Menu"
        >
          <i class="fa fa-bars"></i>
        </a>
        <% if (user) { %>
        <a class="w3-bar-item w3-button" href="/logout">LOG OUT</a>
        <a class="w3-bar-item w3-button" href="/movies/addMovie">ADD MOVIE</a>
        <% } else { %>
        <a class="w3-bar-item w3-button" href="/auth/google" class="login"
          >LOG IN</a
        >
        <% } %>
        <a href="/movies" class="w3-bar-item w3-button ">ALL MOVIES</a>
        <a href="/Home" class="w3-bar-item w3-button w3-hide-small">HOME</a>
        <a href="/about" class="w3-bar-item w3-button w3-hide-small">ABOUT</a>
        <a
          href="#"
          class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red"
        >
          <i class="fa fa-search"></i>
        </a>
      </div>

   <!-- Navbar on small screens -->
   <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <% if (user) { %>
    <a href="/movies/addMovie"  class="w3-bar-item w3-button" onclick="toggleFunction()" >ADD MOVIE</a>
    <% } %>
    <a href="/movies" class="w3-bar-item w3-button" onclick="toggleFunction()">ALL MOVIES</a>
    <a href="/Home" class="w3-bar-item w3-button" onclick="toggleFunction()">HOME</a>
    <a href="/about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
    <a href="#" class="w3-bar-item w3-button">SEARCH</a>
  </div>
</div>
  </body>
</html>
