<%- include('../partials/Header') %>
<div class="forms">
  <div class="container text-center">
    <h1><%= title %></h1>
    <p>Welcome</p>
    <form id="new-form" action="/movies" method="POST">
      <p>
        <label for=""></label>
        <input
          class="fields"
          type="text"
          name="movieName"
          maxlength="100"
          placeholder="Movie Name"
        />
      </p>
      <p>
        <label for=""></label>
        <textarea
          class="fields"
          type="text"
          name="movieInfo"
          placeholder="Movie info"
        ></textarea>
      </p>
      <p>
        <label for=""></label>
        <input
          class="fields"
          type="text"
          name="movieClass"
          maxlength="100"
          placeholder="Rating"
        />
      </p>
      <p>
        <label for=""></label>
        <input
          class="fields"
          type="number"
          name="yearRelease"
          maxlength="100"
          placeholder="Year Release"
        />
      </p>
      <p>
        <label for=""></label>
        <input
          class="fields"
          type="number"
          name="runTime"
          maxlength="100"
          placeholder="Run Time"
        />
      </p>

      <p>
        <label for=""></label>
        <input
          class="fields"
          type="url"
          name="url"
          maxlength="100"
          placeholder="Add Url Image"
        />
      </p>
      <input class="button" type="submit" value="Add Movie" />
    </form>
  </div>
</div>
<%- include('../partials/Footer') %>
