<%- include('../partials/Header') %>

<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">MOVIE<span class="w3-hide-small">FLICKS</span></span>
  </div>
</div>
<br>
<div class="top">
	<div class="columns">
		<div class="column is-full featured_wrapper p-0">
			<img src="https://raw.githubusercontent.com/brixiobodino/coffeholic/main/banner.jpg" class="featured">
			<div class="title_wrapper">
				<span class="has-text-white">Trending Today</span>
				<h1 class="title is-1 has-text-white">The Untold Story of the great Lorem Ipsum</h1>
				<button class="button is-medium">Watch It Now</button>
			</div>
		</div>
	</div>
</div>

<div class="">
	<div class="columns is-multiline p-0 pt-6 last">
        <div class="column is-full">
			<h2 class="has-text-white text-center">Collection</h2>
		</div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
            <% movies.forEach(function(m) { %>
                <div class="col pad container ">
                    <div class="">
                    <div class="">
                  <a href="/movies/<%= m._id %>"><image src= "<%= m.url %> "  width="240" height="270"></a>
              </div>
            </div>  
            </div>
                <% }); %>
            </div>
	</div>
</div>

  <%- include('../partials/Footer') %>

